<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How to become a YouTuber</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
	<h1>Practical Guide: So you want to be a YouTuber?!</h1>
	<p>
		Do the following:
		<ul>
			<li>
				Pump out videos frequently
			</li>
			<li>
				Choose outrageously clickbaity titles
			</li>
			<li>
				Follow latest dumb trends
			</li>
			<li>
				Have an opinion on everything
			</li>
		</ul>
	</p>
	<p>
		List of advertisers to choose from:
		<% if(!data || !data.length) { %>
			<b>No advertisers to show yet. Add some.</b>
		<% } else { %>
			<ul>
				<% for(const ad of data){ %>
					<li>
						<span <%= (ad.old)?"class=old-ad":"" %>>
							<span class="red"><%= ad.author %></span>
							added advertiser 
							<b><span class="blue"><%= ad.name %></span></b>
							on:
							<i><%= ad.date %></i>
							(Advertiser homepage: <a href="<%= ad.link %>"><%= ad. link %></a>)
						</span>
					</li>
				<% } %>
			</ul>
		<% } %>
	</p>
	<div>
		<h2>If you know other sponsors add them here: </h2>
		<form id="adForm" action="/ads" method="post" autocomplete="off" <%= (locals.isSaveJustAttempted)?"page-after-post":"" %> >
			<div>
				<label for="author">Who is submitting an advertiser: </label>
				<input type="text" placeholder="Your full name here..." id="author" name="author"/>
			</div>
			<div>
				<label for="name">Advertiser name: </label>
				<input type="text" placeholder="type it here..." id="name" name="name"/>
			</div>
			<div>
				<label for="link">Link to their homepage: </label>
				<input type="text" placeholder="Paste a link here..." id="link" name="link"/>
			</div>
			<input type="submit" value="Suggest new advertiser" />
			<% if (locals.isSaveJustAttempted) { %>
				<% if (locals.err) { %>
					<p class="error" id="error-message">
						Error: <%= err %>
					</p>
				<% } else { %>
					<p class="success" id="success-message">An advertiser added successfully.</p>
				<% } %>
			<% } %>
		</form>
	</div>
	<script src="/main.js"></script>
  </body>
</html>
